body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 20px;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

button {
    background: blue;
    color: white;
    padding: 8px;
}
